In [1]:
import pandas as pd
import re
from os.path import join
import mimetypes

az = pd.read_csv("results/azrael/azrael_all_20231202.csv.gz",
                 dtype={'unit': str, 'subunit': str, 'subsubunit': str, 'prefix': str})

In [2]:
az.columns

Index(['name', 'path', 'size', 'md5', 'creation_date',
       'last_modification_date', 'mimetype', 'guessed_extension', 'extension',
       'folder', 'repository', 'unit', 'subunit', 'subsubunit', 'prefix',
       'size_mo'],
      dtype='object')

In [3]:
az

,name,path,size,md5,creation_date,last_modification_date,mimetype,guessed_extension,extension,folder,repository,unit,subunit,subsubunit,prefix,size_mo
0,RBX_AMR_AFF_001_D_0001_1.tif,BNR_SAUV/AMR/AMR_AFF,143190155,c9f72a779d9ce7c57edfa1e2bba965c9,1.537953e+09,1.346326e+09,image/tiff,.tiff,.tif,BNR_SAUV,AMR,NaN,NaN,NaN,NaN,136.557
1,RBX_AMR_AFF_001_D_0002_1.tif,BNR_SAUV/AMR/AMR_AFF,73202507,2dc8a0c646393919bd26c384b25ccf51,1.537953e+09,1.346326e+09,image/tiff,.tiff,.tif,BNR_SAUV,AMR,NaN,NaN,NaN,NaN,69.811
2,RBX_AMR_AFF_001_D_0003_1.tif,BNR_SAUV/AMR/AMR_AFF,175634315,fc3839159c26e4d1dd3517c44e67d987,1.537953e+09,1.346326e+09,image/tiff,.tiff,.tif,BNR_SAUV,AMR,NaN,NaN,NaN,NaN,167.498
3,RBX_AMR_AFF_001_D_0004_1.tif,BNR_SAUV/AMR/AMR_AFF,133094411,354a27836312de73dc94a7408b23b509,1.537953e+09,1.346326e+09,image/tiff,.tiff,.tif,BNR_SAUV,AMR,NaN,NaN,NaN,NaN,126.929
4,RBX_AMR_AFF_001_D_0005_1.tif,BNR_SAUV/AMR/AMR_AFF,142771211,5d710a3328612a30030409dbddf14ac1,1.537953e+09,1.346326e+09,image/tiff,.tiff,.tif,BNR_SAUV,AMR,NaN,NaN,NaN,NaN,136.157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2296955,PLS_194.tif,BNR_VERIF/VERSION TIF 600 DPI/PLS,25418941,712fd18b6bef31ab7394dbd5cb4d0265,1.537067e+09,1.384419e+09,image/tiff,.tiff,.tif,BNR_VERIF,VERSION TIF 600 DPI,NaN,NaN,NaN,NaN,24.241
2296956,PLS_195.tif,BNR_VERIF/VERSION TIF 600 DPI/PLS,25504324,04b50a5019e658a98a5b0f333b944f2e,1.537067e+09,1.384343e+09,image/tiff,.tiff,.tif,BNR_VERIF,VERSION TIF 600 DPI,NaN,NaN,NaN,NaN,24.323
2296957,PLS_196.tif,BNR_VERIF/VERSION TIF 600 DPI/PLS,26044291,63c4922558d111126895d1f505c60bec,1.537067e+09,1.384419e+09,image/tiff,.tiff,.tif,BNR_VERIF,VERSION TIF 600 DPI,NaN,NaN,NaN,NaN,24.838
2296958,PLS_197.tif,BNR_VERIF/VERSION TIF 600 DPI/PLS,25135066,c022c7c22461535231e00efa74a1ed16,1.537067e+09,1.384343e+09,image/tiff,.tiff,.tif,BNR_VERIF,VERSION TIF 600 DPI,NaN,NaN,NaN,NaN,23.971
2296959,PLS_198.tif,BNR_VERIF/VERSION TIF 600 DPI/PLS,25479628,7b3fff6aff5422bef0d59ebec3565706,1.537067e+09,1.384343e+09,image/tiff,.tiff,.tif,BNR_VERIF,VERSION TIF 600 DPI,NaN,NaN,NaN,NaN,24.299

In [6]:
az['folder'].value_counts(normalize=True)

folder
BNR_VERIF     0.775447
BNR_SAUV      0.223083
BNR_TAMPON    0.001470
Name: proportion, dtype: float64

In [7]:
az['repository'].value_counts(normalize=True)

repository
MED                    0.643012
AMR                    0.344287
PAR                    0.006337
MAGASINES              0.004126
MUS                    0.001018
OBS                    0.000541
LAR                    0.000263
LAI                    0.000225
VERSION TIF 300 DPI    0.000099
TCG                    0.000078
MDF                    0.000008
VERSION TIF 600 DPI    0.000007
Name: proportion, dtype: float64

In [8]:
az['unit'].value_counts(normalize=True)

unit
MED_PRA           0.655978
AMR_EC            0.181203
AMR_DEL           0.059676
AMR_6H            0.037610
AMR_RAM           0.017994
                    ...
PAR_TRI           0.000007
AMR_O             0.000006
AMR_PLA           0.000006
PAR_BOU           0.000003
non patrimoine    0.000002
Name: proportion, Length: 61, dtype: float64

In [16]:
az.groupby(['unit'])['name'].count().sort_values(ascending=False).reset_index()

              unit     name
0          MED_PRA  1342164
1           AMR_EC   370750
2          AMR_DEL   122101
3           AMR_6H    76952
4          AMR_RAM    36817
..             ...      ...
56         PAR_TRI       15
57           AMR_O       13
58         AMR_PLA       12
59         PAR_BOU        6
60  non patrimoine        4

[61 rows x 2 columns]

In [18]:
az['size_mo'].sum()

18393915.650999982

In [17]:
az.groupby(['unit'])['size_mo'].sum().sort_values(ascending=False).reset_index()

         unit      size_mo
0     MED_PRA  9428814.333
1     AMR_DEL  2207801.082
2      AMR_EC   723067.670
3     AMR_RAM   424687.322
4     MED_AFF   418948.490
..        ...          ...
56     MED_CP       57.717
57    AMR_21J       52.609
58    AMR_11J       51.700
59     AMR_1I       34.131
60  AMR_1AEFi        9.205

[61 rows x 2 columns]

In [22]:
az.groupby(['unit']).aggregate({'name':'count', 'size_mo': 'sum'}).reset_index()

                                      unit   name    size_mo
0                                     ALTO   3151   1045.966
1                                      AMR     58    742.374
2                     AMR-Archives privées  11739  82411.064
3                                  AMR_11J     85     51.700
4                                AMR_1AEFi     30      9.205
..                                     ...    ...        ...
56                        Tests manuscrits    412   8945.198
57                          non patrimoine      4  16299.148
58  prepa_don_depot_mme_duponchel_20230401     25    444.727
59      retour numérisation 2021_a_classer    542   9902.336
60       retour numérisation 2023a_classer     42    699.002

[61 rows x 3 columns]

In [29]:
med_pra = az[az['unit'] == 'MED_PRA']
med_pra.groupby(['subunit', 'folder']).aggregate({'name':'size', 'size_mo': 'sum'}).reset_index()

        subunit     folder    name     size_mo
0  MED_PRA_ALTO  BNR_VERIF  334415  438598.663
1  MED_PRA_LURA  BNR_VERIF  669744  279431.836
2       PRA_BDR  BNR_VERIF    2327    9206.535

In [33]:
med_pra.groupby(['folder'])['name'].count()

folder
BNR_SAUV      335678
BNR_VERIF    1006486
Name: name, dtype: int64

In [48]:
med_pra.pivot_table(index=['folder', 'unit'], values=['name', 'size'], aggfunc={'name':'count', 'size':'sum'})

                      name           size
folder    unit
BNR_SAUV  MED_PRA   335678  9124265078500
BNR_VERIF MED_PRA  1006486   762563456188

In [51]:
med_pra.pivot_table(index=['unit', 'sfolder'], values=['name', 'size'], aggfunc={'name':'size', 'size':'sum'})

                                  name          size
unit    subunit      folder
MED_PRA MED_PRA_ALTO BNR_VERIF  334415  459903838918
        MED_PRA_LURA BNR_VERIF  669744  293005849268
        PRA_BDR      BNR_VERIF    2327    9653768002

In [47]:
med_pra.groupby('unit')['name'].count()

unit
MED_PRA    1342164
Name: name, dtype: int64

In [11]:
duplicated = az[az.duplicated(subset='md5', keep=False)].sort_values(by=['md5', 'path', 'name'])
duplicated[['name', 'path', 'md5']].to_excel("doublons.xlsx", index=False)